/* stylelint-disable */
.container {
  width: 100%;
  aspect-ratio: 1;
  position: relative;
  max-height: 80vh;
  margin-top: 20px;
}

.icon {
  fill: white;
}

.map {
  height: 100%;
}

.btn-refresh {
  position: absolute;
  right: 10px;
  z-index: 100;
}

.btn-download {
  margin-top: 10px;
  width: 100%;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.photo-id {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ember-file-drop-zone {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.row {
  text-align: center;
}



label.label input[type="file"] {
  position: absolute;
  top: -1000px;
}

.label {
  cursor: pointer;
  padding: 5px 15px;
  background: transparent;
  display: inline-block;
}


