/* stylelint-disable */
.flex-container {
  margin-top: 20px;
}

.supercontainer {
  aspect-ratio: 1;
  max-height: 80vh;
  position: relative;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.photo-id {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ember-file-drop-zone {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

label.label input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.label {
  cursor: pointer;
  padding: 5px 15px;
  background: transparent;
  display: inline-block;
}

.icon {
  fill: white;
}

.map {
  height: 100%;
  padding: 12%;
}

.header-logo {
  width: 40%;
}

.footer-logo {
  width: 5%;
}
