/* .test {
  aspect-ratio: 1;
}

.photobooth-container {
  height: 100%;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #0d6efd;
  opacity: 90%;
}
 */

/* .photobooth-container {
  height: 100%;
} */
/* .blue-square {
  max-height: 80vh;
  aspect-ratio: 1;
  background-color: blue;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
} */


.flex-container {
  margin-top: 20px;
}

.container {
  aspect-ratio: 1;
  position: relative;

}

.supercontainer.container {
  padding-left: 0;
  padding-right: 0;
}

.overlay {
  position: absolute;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.photo-id {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ember-file-drop-zone {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

label.label input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.label {
  cursor: pointer;
  padding: 5px 15px;
  background: transparent;
  display: inline-block;
}

.icon {
  fill: white;
}

.map {
  height: 100%;
}

