<div
  {{did-insert (perform this.initTask)}}
  ...attributes
>
  <div class='map' local-class='map'></div>
  {{!-- <img class='overlay' src={{this.overlayService.url}} alt='photo-preview'/> --}}
</div>
