<input type='file' id='photo-id' {{on 'change' this.uploadPhoto}}/>
<br/>
<button type='button' {{on 'click' this.downloadPhoto}}>
  Download
</button>
<button type='button' {{on 'click' this.clearPhoto}}>Clear</button>
{{!-- {{#if this.photo}} --}}
<ImageViewer @photo={{this.photo}} class='container'/>
{{!-- {{/if}} --}}
